@using CLL
@model BDO.Core.DataAccessObjects.Models.trantinyurlaccessinfoEntity
@inject CLL.Localization.LocalizeService SharedLocalizer

@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = "Edit View Tran Tiny U R L Access Info";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-footer">
                <h5 class="card-title">@SharedLocalizer.GetLocalizedHtmlString("EDIT_TRANTINYURLACCESSINFO")</h5>
            </div>
            <!-- /.card-header -->
            <form method="POST" id="frmEditTranTinyURLAccessInfo" class="my-login-validation" novalidate="" autocomplete="off">
                <div class="card-body">
					 <div class="row ">
							 <input asp-for="tinyurlacceessid" type="hidden" />
						 <div class="col-md-6">
							 <div class="form-group">
							<label class="labelNormal required " asp-for="tinyurlid"></label> 
							@await Component.InvokeAsync("S2None", new { selectid = "tinyurlid", preloaded = ViewBag.preloadedDatanone , isReadOnly = false, multiple = false, isRequired = true, pkey = -99 })
							<span asp-validation-for="tinyurlid" class="tinyurliderror text-danger " id="tinyurliderror"></span>
							</div>
						</div>
					</div>
					 <div class="row ">
						 <div class="col-md-6">
							 <div class="form-group">
							 <label class="form-check-label" asp-for="otisused"></label> 
							 <select class="form-control" asp-for="otisused" > 
								 <option value="">@SharedLocalizer.GetLocalizedHtmlString("PLEASE_SELECT_DROPDOWN")</option> 
								 <option value="true">@SharedLocalizer.GetLocalizedHtmlString("YES")</option> 
								 <option value="false">@SharedLocalizer.GetLocalizedHtmlString("NO")</option> 
							 </select>
							 <span asp-validation-for="otisused" class="text-danger"></span>
							</div>
						</div>
						 <div class="col-md-6">
							 <div class="form-group">
							 <label class="labelNormal  " asp-for="otusedtime"></label> 
							 <input asp-for="otusedtime" class="form-control"  type="date" asp-format="{0:dd/MM/yyyy}"   />
							 <span asp-validation-for="otusedtime" class="text-danger"></span> 
							</div>
						</div>
					</div>
					 <div class="row ">
						 <div class="col-md-6">
							 <div class="form-group">
								 <label class="labelNormal  " asp-for="otusedfromip"></label>
								 <input asp-for="otusedfromip" class="form-control" /> 
								 <span asp-validation-for="otusedfromip" class="text-danger"></span>
							</div>
						</div>
					</div>
                   
                    <div class="row btn-toolbar">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <button type="submit" id="btnEditTranTinyURLAccessInfo" class="btn btn-primary btn-md"><i class="fa fa-save"></i> @SharedLocalizer.GetLocalizedHtmlString("SUBMIT_REQUEST")</button>
                                <button id="btnGoBackTranTinyURLAccessInfo" class="btn btn-secondary btn-md "><i class="fas fa-arrow-circle-left"></i> @SharedLocalizer.GetLocalizedHtmlString("GO_BACK")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- ./card-body -->
        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">

                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.card-footer -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->


@section Scripts {
	<script src="~/lib/customjs/TranTinyURLAccessInfo/TranTinyURLAccessInfo.js" asp-append-version="true"></script>
}





