@using CLL
@model BDO.Core.DataAccessObjects.Models.trantinyurldataEntity
@inject CLL.Localization.LocalizeService SharedLocalizer

@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("DELETE_TRANTINYURLDATA");
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-footer">
                <h5 class="card-title">@SharedLocalizer.GetLocalizedHtmlString("DELETE_TRANTINYURLDATA")</h5>
            </div>
            <form method="POST" id="frmDeleteTranTinyURLData" class="my-login-validation" novalidate="" autocomplete="off">
                <div class="card-body">
                    <div class="row">
                        <input asp-for="tinyurlid" type="hidden" />
                    </div>
                    
					 <div class="row ">
							 <input asp-for="tinyurlid" type="hidden" />
						 <div class="col-md-6">
							 <div class="form-group">
								 <label class="labelNormal required " asp-for="tinyurl"></label>
								 <input asp-for="tinyurl" class="form-control" autocomplete="off" readonly="readonly"/> 
								 <span asp-validation-for="tinyurl" class="text-danger"></span>
							</div>
						</div>
					</div>
					 <div class="row ">
						 <div class="col-md-6">
							 <div class="form-group">
								 <label class="labelNormal required " asp-for="tinyurlcode"></label>
								 <input asp-for="tinyurlcode" class="form-control" autocomplete="off" readonly="readonly"/> 
								 <span asp-validation-for="tinyurlcode" class="text-danger"></span>
							</div>
						</div>
						 <div class="col-md-6">
							 <div class="form-group">
								 <label class="labelNormal  " asp-for="actualurl"></label>
								 <input asp-for="actualurl" class="form-control" autocomplete="off" readonly="readonly"/> 
								 <span asp-validation-for="actualurl" class="text-danger"></span>
							</div>
						</div>
					</div>
					 <div class="row ">
						 <div class="col-md-6">
							 <div class="form-group">
							 <label class="labelNormal required " asp-for="serviceid"></label> 
							 <input asp-for="serviceid" class="form-control" autocomplete="off" readonly="readonly" />
							 <span asp-validation-for="serviceid" class="text-danger"></span>
							</div>
						</div>
						 <div class="col-md-6">
							 <div class="form-group">
							 <label class="form-check-label" asp-for="isactive"></label> 
							 <select class="form-control" asp-for="isactive" disabled="true"> 
								 <option value="">@SharedLocalizer.GetLocalizedHtmlString("PLEASE_SELECT_DROPDOWN")</option> 
								 <option value="true">@SharedLocalizer.GetLocalizedHtmlString("YES")</option> 
								 <option value="false">@SharedLocalizer.GetLocalizedHtmlString("NO")</option> 
							 </select>
							 <span asp-validation-for="isactive" class="text-danger"></span>
							</div>
						</div>
					</div>
					 <div class="row ">
						 <div class="col-md-6">
							 <div class="form-group">
							 <label class="form-check-label" asp-for="otisonetime"></label> 
							 <select class="form-control" asp-for="otisonetime" disabled="true"> 
								 <option value="">@SharedLocalizer.GetLocalizedHtmlString("PLEASE_SELECT_DROPDOWN")</option> 
								 <option value="true">@SharedLocalizer.GetLocalizedHtmlString("YES")</option> 
								 <option value="false">@SharedLocalizer.GetLocalizedHtmlString("NO")</option> 
							 </select>
							 <span asp-validation-for="otisonetime" class="text-danger"></span>
							</div>
						</div>
						 <div class="col-md-6">
							 <div class="form-group">
							 <label class="form-check-label" asp-for="otisused"></label> 
							 <select class="form-control" asp-for="otisused" disabled="true"> 
								 <option value="">@SharedLocalizer.GetLocalizedHtmlString("PLEASE_SELECT_DROPDOWN")</option> 
								 <option value="true">@SharedLocalizer.GetLocalizedHtmlString("YES")</option> 
								 <option value="false">@SharedLocalizer.GetLocalizedHtmlString("NO")</option> 
							 </select>
							 <span asp-validation-for="otisused" class="text-danger"></span>
							</div>
						</div>
					</div>
					 <div class="row ">
						 <div class="col-md-6">
							 <div class="form-group">
							 <label class="labelNormal  " asp-for="otusedtime"></label> 
							 <input asp-for="otusedtime" class="form-control"  type="date" asp-format="{0:dd/MM/yyyy}"  autocomplete="off" readonly="readonly" />
							 <span asp-validation-for="otusedtime" class="text-danger"></span> 
							</div>
						</div>
						 <div class="col-md-6">
							 <div class="form-group">
								 <label class="labelNormal  " asp-for="otusedfromip"></label>
								 <input asp-for="otusedfromip" class="form-control" autocomplete="off" readonly="readonly"/> 
								 <span asp-validation-for="otusedfromip" class="text-danger"></span>
							</div>
						</div>
					</div>
                    
                    
                     <div class="row btn-toolbar">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <button type="submit" id="btnDeleteTranTinyURLData" data="@Url.Action("LandingTRANTINYURLDATA", "TRANTINYURLDATA")" class="btn btn-danger btn-md btnAddUser"><i class="fa fa-trash-alt"></i> @SharedLocalizer.GetLocalizedHtmlString("DELETE_REQUEST")</button>
                                <button id="btnGoBackTranTinyURLData" data="@Url.Action("LandingTRANTINYURLDATA", "TRANTINYURLDATA")" class="btn btn-secondary btn-md "><i class="fas fa-arrow-circle-left"></i> @SharedLocalizer.GetLocalizedHtmlString("GO_BACK")</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </form>
            <!-- ./card-body -->
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">

                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

@section Scripts {
    <script src="~/lib/customjs/TranTinyURLData/TranTinyURLData.js"></script>
}





